/* TOC

- Reset some basic elements
- Wrapper
- Clearfix
- Grid
- Card
- Buttons
- Button Styles
- Button Sizes

--- */


/* Reset some basic elements
-------------------------------------------------------- */

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Wrapper
-------------------------------------------------------- */

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($desktop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/* Clearfix
-------------------------------------------------------- */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Site header
-------------------------------------------------------- */

#masthead {
  border-bottom: 1px solid $grey-light;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}


/* Footer
-------------------------------------------------------- */

.page-content {
  padding: $spacing-unit 0;
}



/* Side-Nav
-------------------------------------------------------- */

// Remove margin only on frontpage - toc
.side-nav {
  margin: 0;
  padding: 0.875em 0;
  display: block;
  list-style-type: none;
  list-style-position: outside;
  font-family: $font-family-sans;
}
.side-nav li {
  margin: 0 0 .2em 0;
  font-size: 0.85em;
}
.side-nav a {
  box-shadow: inset 0 0 0 transparent;
  border: 0;
}

.side-nav li a:not(.button) {
  display: block;
  color: $ci-1;
  margin: 0;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
  box-shadow: inset 0 0 0 transparent;
  color: $text;
}
.side-nav li.active > a:first-child:not(.button) {
  color: $ci-1;
  font-weight: bold;
}
.side-nav li.divider {
  border-top: 1px solid;
  height: 0;
  padding: 0;
  border-top-color: $grey-light;
}
.side-nav li.heading {
  text-transform: uppercase;
}

/* Grid

To distribute the grid evenly you have to add spacing
to the wrapper (.flex-grid) and the columns. ONLY together
the padding will be perfect.

-------------------------------------------------------- */

.grid {
  // Turn on Grid
  display: grid;
  grid-column-gap: $spacing-unit/2;
  grid-row-gap: $spacing-unit/2;
}

.col-33-67 {
  -ms-grid-columns: 33% 67%;
  grid-template-columns: 33% 67%;
}
.col-67-33 {
  -ms-grid-columns: 67% 33%;
  grid-template-columns: 67% 33%;
}
.col-2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.col-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-5 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: $mobile) {
  .grid {
    // Turn off grid for mobile
    display: block;
  }
}


/* Card
-------------------------------------------------------- */

.card h2 {
  font-size: $h4;
}

.card {
  border-radius: 3px;
  border: 0;
  border-top: 4px solid #333;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  padding: .75em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: -webkit-transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition: transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: transform .15s cubic-bezier(0.33, 0.66, 0.66, 1), -webkit-transform .15s cubic-bezier(0.33, 0.66, 0.66, 1);
  width: auto;
}

a.card:hover {
  background: transparent;
  border: 0;
  border-top: 4px solid $ci-1;
  -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}


/* Buttons
-------------------------------------------------------- */

.button,
a.button:visited {
  font-family: $font-family-sans;
  color: $text;
  background: $grey-light;
  box-shadow: 0 3px $grey-dark;
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  padding: 0.25em 1em;
  margin: 0 1em .25em 0;
}

.button:hover,
a.button:hover {
  background: $grey-light;
  box-shadow: 0 3px $grey-dark !important;
}

.button:active {
  color: $text;
  background: mix(#fff, $ci-1, 20%);
  transform: translateY(2px);
}


/* Button Styles
-------------------------------------------------------- */

.button.noborder {
  color: $text !important;
  background: transparent !important;
  box-shadow: 0 0 #fff !important;
  border: 1px solid $grey-light !important;
}
.button.noborder:hover {
  background: rgba(0, 0, 0, .1) !important;
  box-shadow: 0 0 $grey-light !important;
}

.button.alert {
  color: #fff !important;
  background: $alert-color !important;
  box-shadow: 0 3px mix(#000, $alert-color, 20%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.alert:hover {
  background: lighten( $alert-color, 5% ) !important;
  box-shadow: 0 3px lighten( $alert-color, 15% ) !important;
}

.button.success {
  color: #fff !important;
  background: $success-color !important;
  box-shadow: 0 3px mix(#000, $success-color, 20%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.success:hover {
  background: lighten( $success-color, 5% ) !important;
  box-shadow: 0 3px lighten( $success-color, 15% ) !important;
}

.button.warning {
  color: #fff !important;
  background: $warning-color !important;
  box-shadow: 0 3px mix(#f00, $warning-color, 20%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.warning:hover {
  background: lighten( $warning-color, 10% ) !important;
  box-shadow: 0 3px lighten( $warning-color, 25% ) !important;
}

.button.info {
  color: #fff !important;
  background: $info-color !important;
  box-shadow: 0 3px mix(#000, $info-color, 40%) !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.info:hover {
  background: lighten( $info-color, 10% ) !important;
  box-shadow: 0 3px lighten( $info-color, 40% ) !important;
}

.button.grey {
  color: #fff !important;
  background: $grey !important;
  box-shadow: 0 3px $grey-dark !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.grey:hover {
  background: mix(#000, $grey, 30%) !important;
  box-shadow: 0 3px mix(#000, $grey, 60%) !important;
}

/* Button Sizes
-------------------------------------------------------- */

.button-small {
  font-size: $small;
  line-height: $small*1.5;
}
.button-large {
  font-size: $h5;
}

