/* TOC

- Reset some basic elements
- Wrapper
- Clearfix
- Grid

--- */


/* Reset some basic elements
-------------------------------------------------------- */

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Wrapper
-------------------------------------------------------- */

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($desktop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/* Clearfix
-------------------------------------------------------- */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Site header
-------------------------------------------------------- */

#masthead {
  border-bottom: 1px solid $grey-light;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}


/* Footer
-------------------------------------------------------- */

.site-footer {
  margin: $spacing-unit*12 0;
  padding: $spacing-unit 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($desktop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($mobile) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.page-content {
  padding: $spacing-unit 0;
}



/* Side-Nav
-------------------------------------------------------- */

// Remove margin only on frontpage - toc
.side-nav {
  margin: 0;
  padding: 0.875em 0;
  display: block;
  list-style-type: none;
  list-style-position: outside;
  font-family: $font-family-sans;
}
.side-nav li {
  margin: 0 0 .2em 0;
  font-size: 0.85em;
}
.side-nav a {
  box-shadow: inset 0 0 0 transparent;
  border: 0;
}

.side-nav li a:not(.button) {
  display: block;
  color: $ci-1;
  margin: 0;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
  box-shadow: inset 0 0 0 transparent;
  color: $text;
}
.side-nav li.active > a:first-child:not(.button) {
  color: $ci-1;
  font-weight: bold;
}
.side-nav li.divider {
  border-top: 1px solid;
  height: 0;
  padding: 0;
  border-top-color: $grey-light;
}
.side-nav li.heading {
  text-transform: uppercase;
}

/* Grid

To distribute the grid evenly you have to add spacing
to the wrapper (.flex-grid) and the columns. ONLY together
the padding will be perfect.

-------------------------------------------------------- */

.grid {
  // Turn on Grid
  display: grid;
  grid-column-gap: $spacing-unit/2;
}

.col-2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.col-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-5 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: $mobile) {
  .grid {
    // Turn off grid for mobile
    display: block;
  }
}



