<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2"></div>
      <div class="footer-col footer-col-3"></div>
      <div class="footer-col footer-col-1 tr"><span class="font-awesome-icon"><a href="{{ site.url }}{{ site.baseurl }}/feed.xml">{% include font-awesome-svg/rss.svg %}</a><a href="#masthead">{% include font-awesome-svg/arrow-up.svg %}</a></span></div>
    </div>
  </div>
</footer>
{% include helper/google-analytics.html %}
</body>
</html>